* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Courier New", monospace;
    color: white;
    background: #060a09;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.35;
    z-index: -1;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.child {
    width: 450px;
    padding: 45px 25px;
    background: #28543f;
    border: 3px solid #111;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 15px 25px white;
    animation:moveShadow 0.5s infinite;
}

@keyframes moveShadow {
  0%{
      box-shadow: 0px 15px 25px white;
  }
  25%{
    box-shadow: 20px 0px 25px white;
  }
  75%{
    box-shadow: 0px -20px 25px white;
  }
  100%{
    box-shadow: -20px 0px 25px white;
  }
}
.ptag {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    
}

.play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    
}

.play-a {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    border: 3px solid white;
    border-radius: 8px;
    transition: 0.15s;
    box-shadow: 0px 10px 25px white;
}

.play-a:hover {
    background: #31c026;
}

.play-a:active {
    transform: translateY(3px);
}

.play-a svg {
    width: 32px;
    height: 32px;
}

.play {
    font-size: 17px;
}

a {
    color: white;
    text-decoration: none;
}

.docs {
    font-size: 1.5rem;
}

header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28543f;
    border-bottom: 3px solid #111;
}

@media (max-width: 600px) {
    .child {
        width: 90%;
    }

    .ptag {
        font-size: 30px;
    }
}